html {
    background: #e6e9e9;
    background-image: linear-gradient(180deg, pink 59%, #9336b0 100%);
    -webkit-font-smoothing: antialiased;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    margin-bottom: 0;
}

main {
    background: #f8fcf7;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 1em 2em 4em;
}

main h1 {
 color: #00007f;
}

header {
   margin: 0 auto;
   max-width: 864px;
}

footer {
   background-color: black;
   margin: 0 auto;
   max-width: 864px;
   min-height: 100px;
   color: white;
}

footer p {
    margin: 0 auto;
    padding: 32px;
}

.topnav {
  background-color: green;
  overflow: hidden;
  height: 96px;
}

.topnav a {
    float: right;
    color: #f2f2f2;
    padding: 38px 16px;
    text-decoration: none;
    font-size: 17px;
    text-decoration: underline 0.1em rgba(0, 0, 0, 0);
    text-underline-offset: 0.5em;
    transition: all .3s ease-in-out;
}

.topnav h1 {
    font-size: 32px;
    margin: 0;
}

.topnav h6 {
    color: #d1d1d1;
    margin: 0;
    font-size: 14px;
    font-style: oblique;
}

.header {
    color: #f2f2f2;
    transition: all .3s ease-in-out;
    padding: 20px;
}

.header img {
    float: left;
    margin-right: 15px;
}

.header img:hover {
    transform: scale(1.005);
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: forestgreen;
  text-decoration-color: rgba(255, 255, 255, 1);
  text-underline-offset: 0.3em;
}

/* Add a color to the active/current link */
.topnav a.active {
    text-decoration-color: rgba(255, 255, 255, 1);
}

.hoverimage img {
    transition: all .3s ease-in-out;
}

.hoverimage img:hover {
	transform: scale(1.1);
}

[class="mobile-nav"] {
  display:none;
}

.mobile-nav #navigation-links {
  display: none;
}

@media only screen and (max-width: 600px) {
  p {
    font-size: 20px;
  }
  .header img {
    width: 36px;
  }
  img {
    width: 100%;
    height: 100%;
  }
  body {
    margin: 0;
  }
  [class="topnav"] {
    display:none;
  }
  [class="mobile-nav"] {
    display:block;
  }
  .mobile-nav #navigation-links {
    padding: 16px 6px;
    text-align: center;
    background: #01771e;
    border-top: solid 1px #2c773f;
    border-bottom: solid 1px #2c773f;
  }
  html {
    background:black;
  }
}

.mobile-nav {
  background-color: green;
  overflow: hidden;
  z-index: 99;
}

.mobile-nav a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 16px;
    padding: 24px 16px;
}

.mobile-nav a.active {
    font-weight: bold;
}

.mobile-nav h1 {
    font-size: 24px;
    margin: 0;
}

.icon {
  right: 0;
  top:0;
  position:absolute;
}

.gallery {
  line-height: 0;
  column-count:2;
  column-gap:5px;
}

.gallery img {
  width: 100% !important;
   height: auto !important;
   margin-bottom:5px;
}

@media only screen and (max-width: 400px) {
  .gallery {
    column-count:1;
  }
}
